#help {
	padding-top: 16rem !important;
}
#help .col-lg-6 .help_content-box {
	width: 420px;
}
#help .help_content-box-1-h1 {
	font-family: var(--second-font);
	color: #1B2E78;
	font-weight: bold;
	font-size: 35px;
	line-height: 52px;
}
#help .help_content-box-1-para {
	font-size: 18px !important;
	line-height: 27px;
	color: #232323 !important;
	margin: auto;
	font-weight: 300;
	padding-top: 1.55rem;
}
#help .help_content-box-2 .help_content-box-2-inner-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#help .help_content-box-2-inner-box-h5 {
	font-size: 18px;
	color: #1B2E78;
	margin: 0;
	padding: 0;
}
#help .help_content-box-2-inner-box-h5:not(:last-child) {
	line-height: 4rem;
}
#help .help_content-box-2 .arrow-icon {
	color: #1B2E78;
	cursor: pointer;
}
#help .help_content-box-2-para {
	font-size: 18px;
	line-height: 27px;
	color: #232323;
	font-weight: 300;
}
#help .help-button {
	background: #458DEA;
	border: 2px solid #458DEA;
	font-size: 14px;
	letter-spacing: 1px;
	color: white;
	width: 160px;
	height: 50px;
	margin-top: 3.85rem;
}
#help .help-button:hover {
	background: transparent;
	color: #1B2E78;
}